@import "base.styl"
@import "article.styl"

table
    border-spacing 0
    tr
        &:hover
            background #fbf8e9
            -o-transition all 0.1s ease-in-out
            -webkit-transition all 0.1s ease-in-out
            -moz-transition all 0.1s ease-in-out
            -ms-transition all 0.1s ease-in-out
            transition all 0.1s ease-in-out

th
    &:first-child
        -moz-border-radius 6px 0 0 0
        -webkit-border-radius 6px 0 0 0
        border-radius 6px 0 0 0
    &:last-child
        -moz-border-radius 0 6px 0 0
        -webkit-border-radius 0 6px 0 0
        border-radius 0 6px 0 0

.zebra
    tbody
        tr
            &:nth-child(even)
                background #f5f5f5
                -webkit-box-shadow 0 1px 0 rgba(255,255,255,.8) inset
                -moz-box-shadow 0 1px 0 rgba(255,255,255,.8) inset
                box-shadow 0 1px 0 rgba(255,255,255,.8) inset